@model ConfigViewModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aurelia</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    <div aurelia-app="main" data-username="@Model.UserName" data-token="@Model.Token">Loading...</div>

    <environment names="Development">
        <script type="text/javascript" src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/dist/app.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" asp-src-include="~/dist/common.*.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging, Production">
        <script type="text/javascript" asp-src-include="~/dist/vendor.*.bundle.js" asp-append-version="true"></script>
        <script type="text/javascript" asp-src-include="~/dist/app.*.bundle.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
